<section class="timetables">
    <div class="container ">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading" style="letter-spacing: 20px">课程表</h2>
            </div>
        </div>
        <div class="row">

            <div class="container theme-showcase" role="main">
                <div>
                    <p class="col-md-4">班级：2016级计算机科学与技术</p>

                    <p class="col-md-3 pull-right">二零一六 学年 下半年</p>
                </div>

                <table class="table table-bordered">
                    <!--<tr>-->
                    <!--<td>项目</td>-->
                    <!--<td colspan = "5" align = "center">上课</td>-->
                    <!--<td colspan = "2" align = "center">休息</td>-->
                    <!--</tr>-->

                    <tr>
                        <th class="col-md-2" colspan="2" bgcolor="#BBFFEE" ;>节次\星期</th>
                        <th bgcolor="#DCDCDC">星期一</th>
                        <th bgcolor="#FFB6C1">星期二</th>
                        <th bgcolor="#7FFFD4">星期三</th>
                        <th bgcolor="#FFEE99">星期四</th>
                        <th bgcolor="#A9A9A9">星期五</th>
                        <th bgcolor="#00FF00">星期六</th>
                        <th bgcolor="#00FF7F">星期日</th>
                    </tr>
                    <!--上午-->
                    <tr>
                        <td rowspan="4" bgcolor="#FFB3FF">上午</td>
                        <td bgcolor="#FFFFE0">第一节（8:00~9:45）</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td bgcolor="#00FF7F" class="course"><a href="" ng-click="playVideo()" title="查看视频">面向对象程序设计（4~18周）</a>
                        </td>
                    </tr>

                    <tr>
                        <td bgcolor="#FFFFE0">地点</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td bgcolor="#00FF7F">3#418</td>
                    </tr>


                    <tr>
                        <td bgcolor="#FFFFE0">第二节（10:00~11:45）</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td bgcolor="#00FF7F" class="course"><a href="" ng-click="playVideo()" title="查看视频">面向对象程序设计（4~18周）</a>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#FFFFE0">地点</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td bgcolor="#00FF7F">3#418</td>
                    </tr>
                    <tr/>
                    <!-- 下午-->
                    <tr>
                        <td rowspan='4' bgcolor="#FFFFBB">下午</td>
                        <td bgcolor="#00FFFF">第三节（13:00~15:40）</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td bgcolor="#00FF7F" class="course"><a href="" ng-click="playVideo()" title="查看视频">计算机组成原理（1~15周）</a>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#00FFFF">地点</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td bgcolor="#00FF7F">3#337</td>
                    </tr>
                    <tr>
                        <td bgcolor="#00FFFF">第四节（15:40~17:40）</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td bgcolor="#00FF7F" class="course"><a href="" ng-click="playVideo()" title="查看视频">计算机组成原理（1~15周）</a>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#00FFFF">地点</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td bgcolor="#00FF7F">3#337</td>
                    </tr>
                    <!--晚上-->
                    <tr>
                        <td rowspan='2' bgcolor="#DDDDDD">晚上</td>
                        <td bgcolor="#778899">第五节（18:00~20:25）</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td bgcolor="#FFEE99" class="course"><a href="" ng-click="playVideo()" title="查看视频">计算机应用基础（1~15周）</a>
                        </td>
                        <td></td>
                        <td></td>
                        <td bgcolor="#00FF7F" class="course"><a href="" ng-click="playVideo()"
                                                                title="查看视频">综合英语（1~15周）</a></td>
                    </tr>
                    <tr>
                        <td bgcolor="#778899">地点</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td bgcolor="#FFEE99">3#308</td>
                        <td></td>
                        <td></td>
                        <td bgcolor="#00FF7F">3#418</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>