<div class="container info" style="padding-top: 100px">
    <h3>视频</h3>

    <div class="col-lg-12">

        <p class="col-sm-6 lead" style="width: 18%">
            <img src="src/images/carousel/8.jpg" class="img-center">
        </p>

        <p class="col-sm-3 lead">
            <a ng-click="playVideo()" style="color: #449d44;text-decoration: none;cursor: pointer">棉花工厂化育苗和机械化移栽技术</a>
        </p>

        <p class="col-sm-3 lead">
            发布时间：2013-12-11
        </p>

        <p class="col-sm-3 lead">
            时长：
        </p>
    </div>
    <div class="col-lg-12">

        <p class="col-sm-6 lead" style="width: 18%">
            <img src="src/images/carousel/9.jpg" class="img-center">
        </p>

        <p class="col-sm-3 lead">
            <a ng-click="playVideo()" style="color: #449d44;text-decoration: none;cursor: pointer">棉花工厂化育苗和机械化移栽技术</a>
        </p>

        <p class="col-sm-3 lead">
            发布时间：2013-12-11
        </p>

        <p class="col-sm-3 lead">
            时长：
        </p>
    </div>
    <div class="col-lg-12">

        <p class="col-sm-6 lead" style="width: 18%">
            <img src="src/images/carousel/10.jpg" class="img-center">
        </p>

        <p class="col-sm-3 lead">
            <a ng-click="playVideo()" style="color: #449d44;text-decoration: none;cursor: pointer">小麦籽粒质量与食品加工</a>
        </p>

        <p class="col-sm-3 lead">
            发布时间：2013-12-11
        </p>

        <p class="col-sm-3 lead">
            时长：
        </p>
    </div>
    <div class="col-lg-12">

        <p class="col-sm-6 lead" style="width: 18%">
            <img src="src/images/carousel/11.jpg" class="img-center">
        </p>

        <p class="col-sm-3 lead">
            <a ng-click="playVideo()" style="color: #449d44;text-decoration: none;cursor: pointer">植酸酶玉米与绿色农业</a>
        </p>

        <p class="col-sm-3 lead">
            发布时间：2013-12-11
        </p>

        <p class="col-sm-3 lead">
            时长：
        </p>
    </div>
</div>