/*.resume {*/
/*/!*background-image: url("../images/index.jpg");*!/*/
/*}*/

.resume_tmpl4 {
    border: 0px solid #dadada;
    /*padding: 36px 0;*/
}

table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}

.labels {
    background-color: #ffffff;
    text-align: center;
    font-size: 14px;
    line-height: 22px;
    word-break: break-all;
    word-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    font-family: 'lucida Grande', Verdana, 'Microsoft YaHei';
    padding: 12px 14px;
    font-weight: bold;
}

.tmpl_mod_hoverBg {
    font-family: "lucida Grande", Verdana, "Microsoft YaHei";
    font-size: 14px;
    line-height: 22px;
    padding: 12px 14px;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #ffffff;
    text-align: left;
}

.js_hover {
    background-color: #c9c9c9;
    color: #3c3c3c;
    table-layout: fixed;
}

span {
    font-weight: bold;
}

/*img {*/
/*opacity: 0.9;*/
/*position: relative;*/
/*display: block;*/
/*width: calc(100% + 0px);*/
/*border-radius: 80px;*/

/*}*/

.img_info {
    background-color: #ffffff;
}

.img_info:hover img {
    border-radius: 80px;
    max-width: none;
    width: -webkit-calc(100% + 0px);
    width: calc(100% + 0px);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-50px, 0, 0);
    transform: translate3d(10px, 0, 0);
}

.video {
    background: #f2f2f2 url("") no-repeat top center;
}

.mejs-container {
    margin: 0 auto;
}

.course {
}

.course a {
    color: #080808;
    text-decoration: none;
}

.course a:hover, a:focus, a:active, a.active {
    color: #080808;
    text-decoration: none;
}

.playWay {
    color: #080808;
    margin-left: 60px;
}

.title-box {
    border-bottom: 1px solid #eee;
    font-size: 16px;
    padding: 10px 0 30px;
    text-align: center;
}

.childMenu {
    height: 34px;
    line-height: 34px;
    display: block;
    color: #fff;
    padding-left: 60px;
    background: url(../images/icon.png) no-repeat 20px center;
    background-size: 20px;
}

.info h3 {
    color: #51af34;
}

li, li a, label {
    color: #555;
}

a {
    color: #2ecc71;
    text-decoration: none;
}

a, a:focus, a:hover, a:active {
    outline: 0 none !important;
}

a:focus {
    text-decoration: none;
}

a:hover {
    color: #2ecc71;
    text-decoration: underline;
}

a, a:focus, a:hover, a:active, button, button:hover {
    outline: 0 none !important;
}

a:focus {
    text-decoration: none;
}

.tab-v1 .nav-tabs {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-color: -moz-use-text-color -moz-use-text-color #2ecc71;
    border-image: none;
    border-style: none none solid;
    border-width: medium medium 2px;
}

.tab-v1 .nav-tabs a {
    font-size: 14px;
    padding: 5px 15px;
}

.tab-v1 .nav-tabs > .active > a, .tab-v1 .nav-tabs > .active > a:hover, .tab-v1 .nav-tabs > .active > a:focus {
    background: #2ecc71 none repeat scroll 0 0;
    border: medium none;
    color: #fff;
}

.tab-v1 .nav-tabs > li > a {
    border: medium none;
}

.tab-v1 .nav-tabs > li > a:hover {
    background: #2ecc71 none repeat scroll 0 0;
    color: #fff;
}

.tab-v1 .tab-content {
    padding: 10px 0;
}

.tab-v1 .tab-content img {
    margin-bottom: 15px;
    margin-top: 4px;
}

.tab-v1 .tab-content img.img-tab-space {
    margin-top: 7px;
}

.padding-0 {
    padding: 0 !important;
}

.title-box .title-box-text {
    color: #555;
    display: block;
    font-size: 35px;
    font-weight: 200;
}

.title-box {
    border-bottom: 1px solid #eee;
    font-size: 16px;
    padding: 10px 0 30px;
    text-align: center;
}

.icon-user-female, .icon-user-follow, .icon-user-following, .icon-user-unfollow, .icon-trophy, .icon-screen-smartphone, .icon-screen-desktop, .icon-plane, .icon-notebook, .icon-moustache, .icon-mouse, .icon-magnet, .icon-energy, .icon-emoticon-smile, .icon-disc, .icon-cursor-move, .icon-crop, .icon-credit-card, .icon-chemistry, .icon-user, .icon-speedometer, .icon-social-youtube, .icon-social-twitter, .icon-social-tumblr, .icon-social-facebook, .icon-social-dropbox, .icon-social-dribbble, .icon-shield, .icon-screen-tablet, .icon-magic-wand, .icon-hourglass, .icon-graduation, .icon-ghost, .icon-game-controller, .icon-fire, .icon-eyeglasses, .icon-envelope-open, .icon-envelope-letter, .icon-bell, .icon-badge, .icon-anchor, .icon-wallet, .icon-vector, .icon-speech, .icon-puzzle, .icon-printer, .icon-present, .icon-playlist, .icon-pin, .icon-picture, .icon-map, .icon-layers, .icon-handbag, .icon-globe-alt, .icon-globe, .icon-frame, .icon-folder-alt, .icon-film, .icon-feed, .icon-earphones-alt, .icon-earphones, .icon-drop, .icon-drawer, .icon-docs, .icon-directions, .icon-direction, .icon-diamond, .icon-cup, .icon-compass, .icon-call-out, .icon-call-in, .icon-call-end, .icon-calculator, .icon-bubbles, .icon-briefcase, .icon-book-open, .icon-basket-loaded, .icon-basket, .icon-bag, .icon-action-undo, .icon-action-redo, .icon-wrench, .icon-umbrella, .icon-trash, .icon-tag, .icon-support, .icon-size-fullscreen, .icon-size-actual, .icon-shuffle, .icon-share-alt, .icon-share, .icon-rocket, .icon-question, .icon-pie-chart, .icon-pencil, .icon-note, .icon-music-tone-alt, .icon-music-tone, .icon-microphone, .icon-loop, .icon-logout, .icon-login, .icon-list, .icon-like, .icon-home, .icon-grid, .icon-graph, .icon-equalizer, .icon-dislike, .icon-cursor, .icon-control-start, .icon-control-rewind, .icon-control-play, .icon-control-pause, .icon-control-forward, .icon-control-end, .icon-calendar, .icon-bulb, .icon-bar-chart, .icon-arrow-up, .icon-arrow-right, .icon-arrow-left, .icon-arrow-down, .icon-ban, .icon-bubble, .icon-camcorder, .icon-camera, .icon-check, .icon-clock, .icon-close, .icon-cloud-download, .icon-cloud-upload, .icon-doc, .icon-envelope, .icon-eye, .icon-flag, .icon-folder, .icon-heart, .icon-info, .icon-key, .icon-link, .icon-lock, .icon-lock-open, .icon-magnifier, .icon-magnifier-add, .icon-magnifier-remove, .icon-paper-clip, .icon-paper-plane, .icon-plus, .icon-pointer, .icon-power, .icon-refresh, .icon-reload, .icon-settings, .icon-star, .icon-symbol-female, .icon-symbol-male, .icon-target, .icon-volume-1, .icon-volume-2, .icon-volume-off, .icon-users {
    font-family: "Simple-Line-Icons";
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-transform: none;
}

.no-margin-bottom {
    margin-bottom: 0 !important;
}

label {
    color: #999;
}
.friendship{
   height: 33px;
}
.friendship .from-d{
   width: 20%;
}
.friendship section{
    line-height: 20px;
    padding-top: 6px;
    vertical-align: middle;
}

